* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 25px 25px 0px 25px;
}
.active {
    font-weight: 700;
}

li {
    list-style: none;
    white-space: nowrap;
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

svg {
    width: 1.5rem;
}

.navbar { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    font-size: 18px;
    justify-content: space-between;
    gap: 2em;
    padding: 10px 50px 10px 50px;
    border-radius: 100px;
    background: rgba(250,250,250,0.5);
}

.cart-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}   

.top-shoe-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

    @media(max-width: 1140px){
        .navbar {
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 30px;
        } 
        .navbar-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 0;
            background: transparent;
            padding: 0px;
        }
        .cart-icon {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: right;
            padding-right: 20px;
        }  
        .top-shoe-image {
            position: absolute;
            z-index: -1;
            top:0;
            left:0;
            bottom: 0; 
        }
        .shoe-img {
            width: 500px;
        }   
    }
    
.nav_checkbox {
    display: none;
}

.nav_toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.close {
    display: none;
}

#nav_checkbox:checked ~ ul.navbar-menu li {
    display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
    display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .burger_menu {
    display: none;
}
    
    @media only screen and (min-width: 560px) {
        .nav_toggle {
            display: none;
        }
    
        li {
            display: block;
        }
    }
